.coverage*
/.eggs/
/**/build/
coverage.xml
/**/**/__pycache__/
*.egg-info
/htmlcov
.history
*.log
/output/
dist/
/diagnosis/
/docs/src/api/
/MANIFEST.skao.int
/.vscode/
/benchmarks/
src/ska_sdp_piper/scripts/dool